<h1> Displaying all Chefs </h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @chefs.each do |chef| %>
            <tr>
                <td><%= chef.name %></td>
                <td><%= chef.email %></td>
                <td><%= chef.recipes.count %> recipes</td>
                <td>
                    <%= link_to "View", chef_path(chef), class: "btn btn-sm btn-primary" %>
                    <% if authorized_for_admin? %>
                        <%= button_to "Delete Chef", chef_path(chef), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger", form: { class: "d-inline" } %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>

    