<h1>Chef profile</h1>

<div class="mb-3">
  <strong>Name:</strong>
  <%= @chef.name %>
</div>

<div class="mb-3">
  <strong>Email:</strong>
  <%= @chef.email %>
</div>

<div class="mb-3">
  <strong>Recipes Posted:</strong>
  <% if @chef.recipes.any? %>
    <ul>
      <% @chef.recipes.each do |recipe| %>
        <li>
          <%= link_to recipe.name, recipe_path(recipe) %>
          <span class="text-muted">(<%= pluralize(recipe.comments.size, "comment") %>)</span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No recipes posted yet.</p>
  <% end %>
</div>


<div class="d-flex gap-2">
     
        <% if chef_signed_in? && authorized_for_chefcrud?(@chef) %>
                <%= link_to "Create Recipe", new_recipe_path, class: "btn btn-primary" %>
        <% end %>

      <% if authorized_for_chefcrud?(@chef) %>
        <%= link_to "Edit profile", edit_chef_path(@chef), class: "btn btn-primary" %>
      <% end %>
      <%if authorized_for_admin? || authorized_for_chefcrud?(@chef) %>
        <%= button_to "Delete chef and DELETE recipes", chef_path(@chef, delete_recipes: 'delete'), method: :delete, data: { turbo_confirm: "Are you sure? This will delete the chef and all their recipes." }, class: "btn btn-danger", form: { class: "d-inline" } %>

        <%= button_to "Delete chef but KEEP recipes", chef_path(@chef, delete_recipes: 'keep'), method: :delete, data: { turbo_confirm: "Are you sure? This will delete the chef but keep their recipes available." }, class: "btn btn-warning ms-2", form: { class: "d-inline" } %>
      <% end %>
</div>
