<%= form_with model: @recipe, local: true do |form| %>
  <% show_new_ingredient_field = local_assigns.fetch(:show_new_ingredient_field, false) %>

  <% if @recipe.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@recipe.errors.count, "error") %> prevented this recipe from being saved:</h4>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", required: true %>
  </div>

  <% if authorized_for_admin? || authorized_for_recipecrud?(@recipe) %>
  <div class="mb-3">
    <label class="form-label d-block">Ingredients</label>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
      <%= form.collection_check_boxes :ingredient_ids, @ingredients, :id, :name do |builder| %>
        <div class="col">
          <div class="form-check border rounded p-2 h-100">
            <%= builder.check_box class: "form-check-input me-2" %>
            <%= builder.label class: "form-check-label" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <% if authorized_for_admin? && show_new_ingredient_field %>
      <div class="mb-3">
        <%= form.label :new_ingredient_name, "Add new ingredient", class: "form-label" %>
        <%= form.text_field :new_ingredient_name, class: "form-control", placeholder: "Type a new ingredient name" %>
        <div class="form-text">The ingredient will be created and added to this recipe when you save.</div>
      </div>
    <% end %>

  <% end %>

  <div class="d-flex gap-2">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>