<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-lg">
    <%= link_to "MyRecipiesApp", root_path, class: "navbar-brand fw-bold" , id:'logo'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" href="/pages/home">Home</a>
        </li>
        <li class="nav-item">
          <%= link_to "All Recipes", recipes_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
        <%= link_to "All Ingredients", ingredients_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "All Chefs", chefs_path, class: "nav-link" %>
        </li>

        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_chef.name %><%= " admin" if authorized_for_admin? %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to "View Profile", chef_path(current_chef), class: "dropdown-item" %>
              </li>
              <li>
                <%= button_to "Logout", logout_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "dropdown-item", form: { class: "m-0" } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
